.video-preview{
    display: inline-block;
    width: 300px;
    /* border: 1px solid #000; */
    margin-right: 20PX;
    
}
.video-acthor, .video-start, .video-title{
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.thumbnail{
    width: 100%;
    /* border-radius: 10px; */
    /* border: 1px solid rgb(211, 20, 20); */

    
}

.video-title{
    
    font-size: 13.5px;
    font-weight: 900px ;
     width: 230px; 
    line-height: 1.3;
    margin-bottom: 100px;
    display: inline; 
    margin-left: -50px;
    
}

.video-acthor, .video-start {
    color: rgb(96, 96, 96);
    /* color: #606060; */
    font-weight: 800px;
    font-size: 12px;
}
    
.video-acthor{
    /* display: inline-block; */
    margin-top: 11px;
    margin-left: -10px;
}

.video-discription {
    vertical-align: top;
    margin-top: 11px;
}

.channel-image-container, .video-info {
    display: inline-block;
}
  
.channel-image-container {
    width: 50px;
    /* border: 1px solid yellow; */
    vertical-align: top;
}

.video-info{
    width: 240px;

}

.video-start{
 margin-top: 6px;
}
 .emma{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    display: inline;
    margin-top: 20px;

 }

 .button{
    background-color: rgb(55, 20, 252);
    color: #fff;
    border: none;
    margin-top: 15px;
    border-radius: 2px;
    margin-left: -50px;
    
    
 }
  
 .button:hover{
    cursor: pointer;
    transition: 1s;
 }
 
 